<html>
  <head>
    <style type="text/css">

      body {
        text-rendering: optimizeLegibility;
        background: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
      }

      h1 {
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
        letter-spacing: -0.05em;
        font-size: 5em;
        margin: 0px;
        color: #444
      }

      h2, h3 {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
      }

      h2 { text-indent: .25em; }
      h3 { text-indent: .5em; }

      blockquote {
        color: #666;
        border-left: 5px solid #CCC;
        padding-left: 10px;
      }

      #wrapper {
        width: 960px;
        margin: auto;
      }

      #formats {
        text-align: right;
        float: right;
      }

    </style>
    <%= render "analytics/google" %>
    <title>Justin Campbell</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="formats">
        Also available in
        <%= link_to "Plaintext", resume_path(:format => :txt) %>,
        <%= link_to "Markdown", "/resume/JustinCampbell.md" %>,
        or as a
        <%= link_to "PDF", "/resume/JustinCampbell.pdf" %>.
        </br>
        View source for
        <%= link_to "website", "http://github.com/JustinCampbell/justincampbell" %>
        and
        <%= link_to "resume", "http://github.com/JustinCampbell/resume" %>.
      </div>
      <%= markdown @md, :add_header_levels => false %>
    </div>
  </body>
</html>
