<!DOCTYPE html>
<html>
<head>
  <title>JustinCampbell.me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <h1><%= link_to raw("JustinCampbell<span class=\"gray\">.me</span>"), root_url %></h1>
    <p id="description">
    I work with some awesome people making things at <%= link_to "Movitas", "http://movitas.com" %>.<br />
    In my free time I'm a Web Developer and gamer.<br />
    Sometimes I take pictures of food or go snowboarding.<br />
    You should follow me on Twitter: <%= link_to "@JustinCampbell", "http://twitter.com/JustinCampbell" %>
    </p>
    <%= yield %>
  </div>
</body>
</html>
