<!DOCTYPE html>
<html>
<head>
  <title>JustinCampbell.me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= render "analytics/google" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div id="logo">
      J
    </div>
    <ul id="navigation">
      <li><%= link_to "Résumé", resume_path %></li>
      <li><%= link_to "GitHub", "http://github.com/JustinCampbell" %></li>
      <li><%= link_to "Twitter", "http://twitter.com/JustinCampbell" %></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
