<!DOCTYPE html>
<html>
<head>
  <title>JustinCampbell.me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => "header" %>
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <%= render :partial => "footer" %>
  </div>
</body>
</html>
